<ion-view view-title="Lupa Password" hide-nav-bar="true">
	<section class="new-bar-home-wrap bar-home-wrap font-helvetica-neue" ng-controller="MenuCtrl">
    <div class="menu-absolute">
      <button menu-toggle="left"><span  class="icon-menu"></span></button>
    </div>
    <div class="new-text-top-bar">
      <p>Lupa Password</p>
    </div>
    <!-- <div class="logo-home">
      <img src="assets/img/bfi-logo.svg" class="img-responsive">
    </div>
    <div class="inbox {{element_inbox}}" ng-click="doInbox()" ng-controller="InboxCtrl">
      <div class="notif {{hide_inbox}}">{{unreadInbox}}</div>
      <img src="assets/img/inbox.svg" class="img-responsive">
    </div>
    <div class="inbox profileicon {{element_dashboard}}">
      <p ng-click="doProfil()"><img src="assets/img/edit-profile.svg" class="img-responsive"></p>
    </div>
    <div class="dashboard forightpoint {{element_dashboard}}" ng-controller="PointCtrl">
      <p>{{totalPoint}}</p>
    </div>
    <div class="dashboard forightpoint fontkecilbanget {{element_dashboard}}" >
      <p>Poin-Ku :</p>
    </div> -->
    <div class="new-notif new-notif-single">
      <div class="new-notif-green {{indikator_green}}"></div>
      <div class="new-notif-orange {{indikator_orange}}"></div>
      <div class="new-notif-red {{indikator_red}}"></div>
    </div>
    <!-- <div class="dashboard {{element_dashboard}}">
      <p ng-click="doProfil()">{{ fullnameLogin }}</p>
		</div> -->
		<div ng-controller="HeaderIconCtrl">
				<div class="inbox" ng-show="showMessageIcon">
				<div class="notif {{hide_inbox}}">{{unreadInbox}}</div>
				<p ng-click="doMessage()"><img src="assets/img/new-inbox.svg" class="img-responsive"></p>
			</div>
			<div class="profileicon">
				<p ng-click="doProfil()"><img src="assets/img/new-edit-profile.svg" class="img-responsive"></p>
			</div>
		</div>
  </section>

	<ion-content>
		<div style="height: 44px;"></div>
		
		<div class="form-register-wrap" style="background-color:#f0f0f0">
			<form name="forgotPasswordForm" ng-submit="doForgotPassword()" method="POST">
				<div class="list form-list-register">

					<!-- <label class="item-input item-floating-label">
						<span class="input-label">Email Anda</span>
						<input type="email" placeholder="Email Anda" id="email" name="email" ng-model="forgot.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-blur="doEmailForgot(forgot.email)" ng-disabled="disabled_Email">
						<small class="error" ng-show="forgotPasswordForm.email.$error.email" style="color: red;font-style: italic;">Email Anda tidak valid.</small>
						<div class="border-input"></div>
					</label> -->

					<div class="password-wrap">
				        <span class="input-label" style="font-family: 'Helvetica-Neue';">Email Anda</span>
						<input type="email" placeholder="Email Anda" style="font-family: 'Helvetica-Neue'; width:100%" id="email" name="email" ng-model="forgot.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-blur="doEmailForgot(forgot.email)" ng-disabled="disabled_Email">
						<small class="error" ng-show="forgotPasswordForm.email.$error.email" style="color: red;font-style: italic;font-family: 'Helvetica-Neue';">Email Anda tidak valid.</small>
						<div class="border-input"></div>
			        </div>

					<!-- <label class="item-input item-floating-label">
						<span class="input-label">Password Anda</span>
						<input type="password" class="input-password" id="password" name="password" ng-model="forgot.password" placeholder="Password Anda">
						<a ng-click="doLoadPassword()" class="see"><i class="ion-eye pass-register"></i></a>
						<p style="font-style: italic;">Minimum Pasword 6 Digit</p>
					</label> -->

					<!-- <div class="password-wrap">
				          <span class="input-label">Password Anda</span>
				          <input type="{{input_type}}" class="input-password" id="password" name="password" ng-model="forgot.password" placeholder="Password Anda">
				          <a ng-click="doLoadPassword()" class="see"><i class="ion-eye"></i></a>
				          <p style="font-style: italic;">Minimum Pasword 6 Digit</p>
			        </div> -->

					
				<!-- <label class="item-input item-floating-label">
					<span class="input-label">Password Anda</span>
					<input type="password" placeholder="Password Anda" id="password" name="password" ng-model="forgot.password">
					<div class="border-input"></div>
				</label>
				<label class="item-input item-floating-label">
					<span class="input-label">Konfirmasi Password Anda</span>
					<input type="password" placeholder="Konfirmasi Password Anda" id="konfirmasipass" name="konfirmasipass" ng-model="forgot.konfirmasipassword">
					<div class="border-input"></div>
					<p style="font-style: italic;">Minimum Pasword 6 Digit</p>
				</label> -->
				
				<button type="submit" class="button btn-register " style="font-family: 'Helvetica-Neue'"> Forgot Password</button>
			</div>
		</form>
		<!-- <div class="clearfix"></div>
				<div class="or text-center">
			<label>atau</label>
		</div> -->
		<!-- <button type="submit" class="button btn-facebook">
			<div class="btn-wrapper">
				<div class="col-xs-2"><img src="assets/img/icon_fb.svg" width="20px"></div>
				<div class="col-xs-10 text-left masuk">Masuk dengan akun Facebook</div>
			</div>
		</button>
		<button type="submit" class="button btn-twitter">
			<div class="btn-wrapper">
				<div class="col-xs-2"><img src="assets/img/icon_twitter.svg" width="20px"></div>
				<div class="col-xs-10 text-left masuk">Masuk dengan akun Twitter</div>
			</div>
		</button>
		<button type="submit" class="button btn-google">
			<div class="btn-wrapper">
				<div class="col-xs-2"><img src="assets/img/icon_gplus.svg" width="20px"></div>
				<div class="col-xs-10 text-left masuk">Masuk dengan akun Google</div>
			</div>
		</button> -->
		<!-- <div class="footer-register text-center">
	    	<span class="footer-login-title">Copyright @ 2016 PT BFI Finance Indonesia Tbk</span>
	    </div> -->
	</div>
</ion-content>
  <!-- FOOTER HIDDEN -->
   <!--<ion-footer-bar class="hide-on-keyboard-open">-->
        <div ng-controller="footerCtrl" class="tabs tabs-icon-top">
            <a ng-click="doAuth()" class="tab-item" tour-step="6" tour-on-start="onStart" tour-on-leave="onLeave"> <!--href="#/customer/home" -->
              <!-- <i class="icon ion-home"></i>
              Home -->
              <img src="assets/img/new-home.svg" class="new-icon-image">
            </a>
            <a href="#/app/simulasikredit/5000000" class="tab-item" tour-step="7" tour-on-start="onStart" tour-on-leave="onLeave">
              <!-- <i class="icon ion-ios-calculator"></i>
              Simulasi -->
              <img src="assets/img/new-simulation.svg" class="new-icon-image">
            </a>
            <a ng-click="doShare()" class="tab-item" tour-step="8" tour-step="8" tour-on-start="onStart" tour-on-leave="onLeave">
              <!-- <i class="icon ion-android-share-alt"></i>
              Bagikan Aplikasi -->
              <img src="assets/img/new-share-socmed.svg" class="new-icon-image">
            </a>
            <a href="#/app/login" class="tab-item {{belumLogin}}" tour-step="9" tour-on-start="onStart" tour-on-leave="onLeave">
              <!-- <i class="icon ion-log-in"></i>
              Sign In -->
              <img src="assets/img/new-signin.svg" class="new-icon-image">
            </a>
            <a ng-click="doLogout()" class="tab-item {{sudahLogin}}">
              <!-- <i class="icon ion-log-in"></i>
              Sign Out -->
              <img src="assets/img/new-signup.svg" class="new-icon-image">
            </a>
        </div>
  <!--</ion-footer-bar>-->
  <!-- FOOTER HIDDEN -->
</ion-view>
