<ion-view view-title="{{title}}" hide-nav-bar="true">

    <section class="new-bar-home-wrap bar-home-wrap font-helvetica-neue" ng-controller="MenuCtrl">
    
        <div class="menu-absolute">
            <button menu-toggle="left"><span class="icon-menu"></span></button>
        </div>
        <div class="navbartitle">{{title}}</div>
        <div class="new-notif new-notif-single" ng-controller="SignalMeter">
          <div class="new-notif-green {{indikator_green}}"></div>
          <div class="new-notif-orange {{indikator_orange}}"></div>
          <div class="new-notif-red {{indikator_red}}"></div>
        </div>
        <div ng-controller="HeaderIconCtrl">
            <div class="inbox" ng-show="showMessageIcon">
                <div class="notif {{hide_inbox}}">{{unreadInbox}}</div>
                <p ng-click="doMessage()"><img src="assets/img/new-inbox.svg" class="img-responsive"></p>
            </div>
            <div class="profileicon" ng-show="showMessageIcon">
                <p ng-click="doProfil()"><img src="assets/img/new-edit-profile.svg" class="img-responsive"></p>
            </div>
        </div>

    </section>

    <ion-content class="new-dashboar-color">
        
        <div style="height: 50px;"></div>
<!--         AFTER content available-->
        <div class="margincenter">
            
            <div class="container containerss">

                <div class="col-xs-12 col-sm-6 card new-produk-marbot30" ng-repeat="data in dataPanduan">
										 
					<div ng-show="data.pageType !== 'content'">
						<div class = "item new-nopadding">
							<a ng-click="openPanduanList('{{data.id}}', '{{type}}')">
								<img ng-src="{{data.listImage.replace('LIVE', '')}}" class="new-img-produk tab-new-img-produk" loading-src="assets/img/loading.gif" on-error-src="assets/img/default-image.png"/>
							</a>
						</div>
						<div class = "item item-body new-padtopbot10">
							<a ng-click="openPanduanList('{{data.id}}', '{{type}}')">
								<p class="new-next-detail-produk font-proxima-regular">{{data.title}} <i class="icon ion-chevron-right" style="margin-left: 5px;"></i></p>
							</a>
						</div>
					</div>

					<div ng-show="data.pageType === 'content'">
						<div class = "item new-nopadding">
							<a ng-click="openPanduanContent('{{data.id}}', '{{type}}')">
								<img ng-src="{{data.listImage.replace('LIVE', '')}}" class="new-img-produk tab-new-img-produk" loading-src="assets/img/loading.gif" on-error-src="assets/img/default-image.png"/>
							</a>
						</div>
						<div class = "item item-body new-padtopbot10">
							<a ng-click="openPanduanContent('{{data.id}}', '{{type}}')">
									<p class="new-next-detail-produk font-proxima-regular">{{data.title}} <i class="icon ion-chevron-right" style="margin-left: 5px;"></i></p>
							</a>
						</div>
					</div>

                </div>  

            </div>
            
        </div>
        
        <div style="height: 80px;"></div>

    </ion-content>


    <div ng-include src="'templates/footer.html'"></div>
</ion-view>