<ion-view view-title="Survey Exit Customer" hide-nav-bar="true">

  <section class="new-bar-home-wrap bar-home-wrap font-helvetica-neue" ng-controller="MenuCtrl">
    
      <div class="menu-absolute new-menu-absolute">
        <button ng-click="doBack()"><span  class="ion-ios-arrow-back new-font-icon-big"></span></button>
      </div>
      <div class="navbartitle">Survey Exit Customer</div>
      <div class="new-notif new-notif-single" ng-controller="SignalMeter">
        <div class="new-notif-green {{indikator_green}}"></div>
        <div class="new-notif-orange {{indikator_orange}}"></div>
        <div class="new-notif-red {{indikator_red}}"></div>
    </div>
    <div ng-controller="HeaderIconCtrl">
        <div class="inbox" ng-show="showMessageIcon">
        <div class="notif {{hide_inbox}}">{{unreadInbox}}</div>
        <p ng-click="doMessage()"><img src="assets/img/new-inbox.svg" class="img-responsive"></p>
      </div>
      <div class="profileicon" ng-show="showMessageIcon">
        <p ng-click="doProfil()"><img src="assets/img/new-edit-profile.svg" class="img-responsive"></p>
      </div>
    </div>

  </section>

    <div class="topsec backgreen">
      <div class="text-center">
        Data Survey Exit Customer
      </div>
    </div>

  <ion-content class="new-dashboar-color">

    <div style="height: 75px;"></div>

    <section>
      <div class="card">
        <div class = "item content-srs text-center">

          <form>

            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Nomor Kontrak  </span></label>
              <!-- <input type="number" class="input form-control new-text-right new-borderbottom" name="AgreementNo" id="AgreementNo" ng-model="message.AgreementNo" placeholder="Nomor Kontrak" ng-blur="updateKontrak()"> -->
              <input type="text" class="input form-control new-text-right new-borderbottom" name="AgreementNo" id="AgreementNo" ng-model="message.AgreementNo" placeholder="Nomor Kontrak" disabled="true">
            </div>
            
            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Nama </span></label>
              <input type="text" class="input form-control new-text-right new-borderbottom new-srs-form" name="fullnamePelanggan" id="fullnamePelanggan" ng-model="message.fullnamePelanggan" placeholder="Nama" disabled="true">
            </div>

            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">PIC SEC </span></label>
              <input type="text" class="input form-control new-text-right new-borderbottom new-srs-form" name="picSEC" id="picSEC" ng-model="message.picSEC" placeholder="PIC SEC" disabled="true">
            </div>

            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Nomor Telepon* </span></label>
              <input type="tel" class="input form-control new-text-right new-borderbottom new-srs-form" name="MobileNo" id="MobileNo" ng-model="message.MobileNo" placeholder="Nomor Telepon" disabled="true">
            </div>

<!--
            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Nomor Telepon Baru* </span></label>
              <input type="text" class="input form-control new-text-right new-borderbottom new-srs-form" name="fullnamePelanggan" id="fullnamePelanggan" ng-model="message.fullnamePelanggan" placeholder="Nomor Telepon Baru" disabled="true">
            </div>
-->
            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Nomor Telepon Baru </span></label>
              <input type="tel" class="input form-control new-text-right new-borderbottom new-srs-form" name="MobileNoNew" id="MobileNoNew" ng-model="message.MobileNoNew" placeholder="Nomor Telepon Baru">
            </div>

            <div class="form-group ">
              <label for="fullname" class="required item item-input new-item"><span class="titletextinput-srs-1">Email </span></label>
              <input type="text" class="input form-control new-text-right new-borderbottom new-srs-form" name="Email" id="Email" ng-model="message.Email" placeholder="Email" disabled="true">
            </div>

            <!-- <div class="form-group ">
              <label class="item item-input item-select new-item-select-cst required form-contact new-item">
                <span class="titletextinput-srs-1 smallform-contact">Status</span>
              `
                <select class="input-contract new-borderbottom padtop30" disabled="true">
                  <option value="sendiri">BPKB diambil selain konsumen atau pasangan</option>
                </select>
              </label>
            </div> -->

          </form>

          <div class="text-center btn-sec">
            <button type="submit" class="button new-btn-submit-orange-1 new-btn-registered" ng-click="doNext()"> Selanjutnya</button>
          </div>

      </div>
    </section>

    <div style="height: 49px; width: 100%;"></div>

  </ion-content>
    
  <div ng-include src="'templates/footer.html'"></div>
</ion-view>