<ion-view view-title="Survey Exit Customer" hide-nav-bar="true">

  <section class="new-bar-home-wrap bar-home-wrap font-helvetica-neue" ng-controller="MenuCtrl">
    
      <div class="menu-absolute new-menu-absolute">
        <button ng-click="doBack()"><span  class="ion-ios-arrow-back new-font-icon-big"></span></button>
      </div>
      <div class="navbartitle">Survey Exit Customer</div>
      <div class="new-notif new-notif-single" ng-controller="SignalMeter">
        <div class="new-notif-green {{indikator_green}}"></div>
        <div class="new-notif-orange {{indikator_orange}}"></div>
        <div class="new-notif-red {{indikator_red}}"></div>
    </div>

  </section>

    <div class="topsec backgreen">
      <div class="text-center">
        Kuesioner SEC
      </div>
    </div>

  <ion-content class="new-dashboar-color">

    <div style="height: 75px;"></div>

    <section>
      <div class="card">
        <div class = "item content-sec-4 no-padding padtop15">
          <br>
          <form>

            <div class="form-group ">
              <div class="row title-sec no-margin0">
                <div class="col-xs-1">9.</div>
                <div class="col-xs-11"><h2>Kapan kiranya Bapak / Ibu butuh pembiayaan kembali ?</h2></div>
              </div>
              <div class="row martop5">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">

                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">1 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">2 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">3 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">4 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">5 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">6 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">7-12 Bulan kedepan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">>12 Bulan kedepan</span>
                    </label>
                  </div>

                </div>
              </div>
            </div>

          </form>

          <form>

            <div class="form-group ">
              <div class="row title-sec no-margin0">
                <div class="col-xs-1">10.</div>
                <div class="col-xs-11"><h2>Menurut Bapak/Ibu, perbaikan dalam hal apakah yang harus kami lakukan agar Bapak/Ibu mau kembali melakukan pembiayaan di BFI Finance ?</h2></div>
              </div>
              <div class="row martop5">
                <div class="col-xs-1"></div>
                <div class="col-xs-11">

                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Persyaratan dan proses pembiayaan kembali yang mudah dan cepat</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Mendapatkan hadiah langsung</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Nilai pencairan sesuai kebutuhan</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Angsuran / Bunga lebih kompetitif</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Pelayanan karyawan lebih ramah dan informatif</span>
                    </label>
                  </div>
                  <div class="form-check">
                    <label>
                      <input type="radio" name="radio"> <span class="label-text titletextinput-sec-1">Lainnya (Apa ?)</span>
                    </label>
                  </div>
                    <div class="inli">
                      <div class="form-check">
                        <label>
                          <input type="text titletextinput-sec-1 simulasi-input" style="border-bottom: 1px solid #ccc !important;border: none;">
                        </label>
                      </div>
                    </div>

                </div>
              </div>
            </div>

          </form>

          <div class="text-center btn-sec-4">
            <button type="submit" class="button new-btn-submit-orange-1 new-btn-registered" ng-click="doNext()"> Selanjutnya</button>
          </div>

      </div>
    </section>

    <div style="height: 49px; width: 100%;"></div>

  </ion-content>

  <div class="new-alert {{showkoneksi}}" ng-show="koneksiInternet">
    <div class="col-xs-8 HelveticaNeue-Thin font12">
      Koneksi Internet Terputus, Cek Koneksi Internet!
    </div>
    <div class="col-xs-4 HelveticaNeue-Thin new-fontorange-alert" ng-click="tryAgain()">
      COBA LAGI
    </div>
  </div> 
  
  <!-- FOOTER HIDDEN -->
   <ion-footer-bar class="hide-on-keyboard-open">
        <div ng-controller="footerCtrl" class="tabs tabs-icon-top">
            <a href="#/app/" class="tab-item {{belumLogin}}" tour-step="9" tour-on-start="onStart" tour-on-leave="onLeave">
              <img src="assets/img/new-home.svg" class="new-icon-image">
            </a>
            <a href="#/app/simulasikredit/5000000" class="tab-item" tour-step="7" tour-on-start="onStart" tour-on-leave="onLeave">
              <img src="assets/img/new-simulation.svg" class="new-icon-image">
            </a>
            <a ng-click="doShare()" class="tab-item" tour-step="8" tour-step="8" tour-on-start="onStart" tour-on-leave="onLeave">
              <img src="assets/img/new-share-socmed.svg" class="new-icon-image">
            </a>
            <a href="#/app/login" class="tab-item {{belumLogin}}" tour-step="9" tour-on-start="onStart" tour-on-leave="onLeave">
              <img src="assets/img/new-signin.svg" class="new-icon-image">
            </a>
            <a ng-click="doLogout()" class="tab-item {{sudahLogin}}">
              <img src="assets/img/new-signup.svg" class="new-icon-image">
            </a>
        </div>
  </ion-footer-bar>
  <!-- FOOTER HIDDEN -->
</ion-view>