<ion-view view-title="Smart Rating System" hide-nav-bar="true">

  <section class="new-bar-home-wrap bar-home-wrap font-helvetica-neue" ng-controller="MenuCtrl">
    
      <div class="menu-absolute">
        <button menu-toggle="left"><span class="icon-menu"></span></button>
      </div>
      <div class="navbartitle">Smart Rating System</div>
      <div class="new-notif new-notif-single" ng-controller="SignalMeter">
        <div class="new-notif-green {{indikator_green}}"></div>
        <div class="new-notif-orange {{indikator_orange}}"></div>
        <div class="new-notif-red {{indikator_red}}"></div>
    </div>
    <div ng-controller="HeaderIconCtrl">
        <div class="inbox" ng-show="showMessageIcon">
        <div class="notif {{hide_inbox}}">{{unreadInbox}}</div>
        <p ng-click="doMessage()"><img src="assets/img/new-inbox.svg" class="img-responsive"></p>
      </div>
      <div class="profileicon" ng-show="showMessageIcon">
        <p ng-click="doProfil()"><img src="assets/img/new-edit-profile.svg" class="img-responsive"></p>
      </div>
    </div>

  </section>

  <ion-content class="new-dashboar-color">

    <div style="height: 40px;"></div>

    <section>
      <div class="card">
        <div class = "item content-srs text-center">
          <div class="imgterimakasih"><img src="assets/img/terimakasih.png" class="img-responsive" alt=""></div>
          <p class="orange">Terima Kasih atas Penilaian Anda</p>
          <div style="height: 150px;"></div>
          <div class="text-center">
            <button type="submit" class="button new-btn-submit-green-1 new-btn-registered" ng-click="endSRS()"> Selesai</button>
          </div>
      </div>
    </section>

    <div style="height: 49px; width: 100%;"></div>

  </ion-content>

  <div ng-include src="'templates/footer.html'"></div>
</ion-view>